{
	admin off
}

{$ROUTELENS_HOST} {
	encode zstd gzip
	reverse_proxy routelens:8080
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}
}

{$ASTRANULL_HOST} {
	encode zstd gzip
	reverse_proxy astranull:8080
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		-Server
	}
}
